
@{
    ViewBag.Title = "GiderListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#">GİDER</a>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/Dashboard/Gider">Gider Listesi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard/Gider/Ekle">Gider Ekle</a>
            </li>
        </ul>
    </nav>
    <div class="card">
        <div class="card-body" style="position:relative;">
            <input type="text" id="giderAra" class="form-control" style="position:absolute;right:15px;top:25px;width:225px;" placeholder="Ara..." />
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Gider Türü</th>
                        <th scope="col">Tutar</th>
                        <th scope="col">Tarih</th>
                        <th scope="col">Açıklama</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="giderListesi">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/x-tmpl" id="expenseTemplate">
    <tr>
        <td>${ExpenseName}</td>
        <td>${Payment} ₺</td>
        <td>${PaymentDate}</td>
        <td>${ExpenseDescription}</td>
        <td class="text-right">
            <a href="/Dashboard/Gider/${ID}"><i class="now-ui-icons ui-1_settings-gear-63" style="font-size:25px"></i></a>
            <a href="#"><i class="now-ui-icons ui-1_simple-remove" style="font-size:25px"></i></a>
        </td>
    </tr>
</script>