@{
    ViewBag.Title = "HastaKarti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#">Hasta</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard/Hasta">Hasta Listesi</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Dashboard/Hasta/Ekle">Hasta Ekle</a>
            </li>
        </ul>
    </nav>
    <div class="card">
        <div class="card-body">
            <form class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="m-0">Kişisel Bilgiler</h4>
                        <div>
                            <a href="/Dashboard/Tedavi/Ekle" class="btn btn-info m-0">Tedaviler</a>
                            <a href="/Dashboard/Tedavi/Ekle" class="btn btn-warning m-0">Not ve Görüntü</a>
                            <a href="/Dashboard/Tedavi/Ekle" class="btn btn-primary m-0">Cari Hesap</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ad</label>
                                <input type="text" class="form-control" id="inputName" placeholder="İsim">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Soyad</label>
                                <input type="text" class="form-control" placeholder="Soyisim">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tc Kimlik No</label>
                                <input type="text" class="form-control" placeholder="Tc Kimlik No ">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputState">Uyruk</label>
                                <select id="inputState" class="form-control">
                                    <option value="TR" selected="selected">TÜRKİYE</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Doğum Tarihi</label>
                                <input type="date" class="form-control" placeholder="Soyisim">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cinsiyet</label>
                                <div class="form-check">
                                    <input class="form-check-input" name="group100" type="radio" id="radio100" style="margin-left: 2%;">
                                    <label class="form-check-label" for="radio100" style="margin-left: 1%;">Kadın</label>
                                    <input class="form-check-input" name="group100" type="radio" id="radio101" checked style="margin-left: 7%;">
                                    <label class="form-check-label" for="radio101" style="margin-left: 7%;">Erkek</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputState">Kan Grubu</label>
                                <select name="id_kangrubu" class="form-control" maxlength="" tabindex="26">
                                    <option value="0"></option>
                                    <option value="1">0 Rh +</option>
                                    <option value="2">0 Rh -</option>
                                    <option value="3">A Rh +</option>
                                    <option value="4">A Rh -</option>
                                    <option value="5">B Rh +</option>
                                    <option value="6">B Rh -</option>
                                    <option value="7">AB Rh +</option>
                                    <option value="8">AB Rh -</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputState">Para Birimi</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Türk Lirası(TRY)</option>
                                    <option>Abd Doları(USD)</option>
                                    <option>Euro(EUR)</option>
                                    <option>İngiliz Sterlini(GBP)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h4>İletişim Bilgileri</h4>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Cep Telefonu</label>
                                <input type="text" class="form-control" id="inputName" placeholder="Cep Telefonu">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>E-posta</label>
                                <input type="email" class="form-control" id="inputName" placeholder="E-Posta">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="inputState">Ülke</label>
                                <select id="inputState" class="form-control">
                                    <option value="TR" selected="selected">TÜRKİYE</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control" id="inputAddress" placeholder="Adres"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success">Hastayı Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>