
@{
    ViewBag.Title = "HastaKarti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "HastaKarti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#">Hasta</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard/Hasta">Hasta Listesi</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Dashboard/Hasta/Ekle">Hasta Ekle</a>
            </li>
        </ul>
    </nav>
    <div class="card">
        <div class="card-body">
            <div class="loading">
                <i class="fa fa-fw fa-spin fa-circle-o-notch fa-3x text-info"></i>
            </div>
            <form class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="m-0">Kişisel Bilgiler</h4>
                        <div>
                            <a href="/Dashboard/Tedavi/Ekle" class="btn btn-info m-0">Tedaviler</a>
                            <a href="/Dashboard/Tedavi/Ekle" class="btn btn-warning m-0">Not ve Görüntü</a>
                            <a href="/Dashboard/Tedavi/Ekle" class="btn btn-primary m-0">Cari Hesap</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ad</label>
                                <input type="text" class="form-control" id="ad" placeholder="İsim">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Soyad</label>
                                <input type="text" class="form-control" id="soyad" placeholder="Soyisim">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tc Kimlik No</label>
                                <input type="text" class="form-control" id="TCNo" placeholder="Tc Kimlik No ">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Doğum Tarihi</label>
                                <input type="date" class="form-control" id="dogumTarihi" placeholder="Soyisim">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputState">Kan Grubu</label>
                                <select id="kanGrubu" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputState">Para Birimi</label>
                                <select id="paraBirimi" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cinsiyet</label>
                                <div class="form-check">
                                    <input name="group100" type="radio" checked id="kadin">
                                    <label for="radio100" style="margin-left: 1%;">Kadın</label>
                                    <input name="group100" type="radio" id="erkek" style="margin-left: 7%;">
                                    <label for="radio101" style="margin-left: 1%;">Erkek</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h4>İletişim Bilgileri</h4>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Cep Telefonu</label>
                                <input type="text" class="form-control" id="cepTelefonu" placeholder="Cep Telefonu">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>E-posta</label>
                                <input type="email" class="form-control" id="ePosta" placeholder="E-Posta">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="inputState">Ülke</label>
                                <select id="uyruk" class="form-control">
                                    <option value="37" selected="selected">TÜRKİYE</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control" id="adres" placeholder="Adres"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <a id="kaydetHasta" class="btn btn-success text-white">Hastayı Kaydet</a>
                </div>
            </form>
        </div>
    </div>
</div>