
@{
    ViewBag.Title = "Oral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div class="content">

    <div class="row">
        <div class="col-md-8">
            <div class="card card-tasks">
                <div class="card-header">
                    <h5 class="card-category">Diş Seçim Alanı</h5>

                </div>
                <div class="card-body">
                    <div class="table-full-width table-responsive">      
                                    <img src="~/Content/images/32teeth.jpg" />
                    </div>
                </div>
            </div>
            <div class="card card-tasks">
                <div class="card-header">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Tarih
                                    </th>
                                    <th>
                                        Diş
                                    </th>
                                    <th>
                                        Tedavi
                                    </th>
                                    <th>
                                        Diş Hekimi
                                    </th>
                                    <th class="text-right">
                                        Toplam
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        01.01.2018
                                    </td>
                                    <td>
                                        Sol 3
                                    </td>
                                    <td>
                                        Diş Çekimi
                                    </td>
                                    <td>
                                        Dt. Ümit Sokullu
                                    </td>
                                    <td class="text-right">
                                        130.00 TL
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        01.01.2018
                                    </td>
                                    <td>
                                        Curaçao
                                    </td>
                                    <td>
                                        Sinaai-Waas
                                    </td>
                                    <td>
                                        Dt. Ümit Sokullu
                                    </td>
                                    <td class="text-right">
                                        170.00 TL
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        01.01.2018
                                    </td>
                                    <td>
                                        Netherlands
                                    </td>
                                    <td>
                                        Baileux
                                    </td>
                                    <td>
                                        Dt. Ümit Sokullu
                                    </td>
                                    <td class="text-right">
                                        120.00 TL
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        01.01.2018
                                    </td>
                                    <td>
                                        kök 2
                                    </td>
                                    <td>
                                        Beyazlatma
                                    </td>
                                    <td>
                                        Dt. Ümit Sokullu
                                    </td>
                                    <td class="text-right">
                                        150.00 TL
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        01.01.2018
                                    </td>
                                    <td>
                                        Chile
                                    </td>
                                    <td>
                                        Gloucester
                                    </td>
                                    <td>
                                        Dt. Ümit Sokullu
                                    </td>
                                    <td class="text-right">
                                        200.00 TL
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>



                </div>



                <div class="card-footer">

                    <table class="table">
                        <tr>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-secondary">SİL</button>
                                    <button type="button" class="btn btn-secondary">DÜZENLE</button>
                                    <button type="button" class="btn btn-secondary">YAZDIR</button>
                                </div>
                            </td>
                            <td class="text-right"> Toplam :</td>
                            <td class="text-right"> 700.00TL</td>

                        </tr>

                    </table>

                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">Oral Bilgileri</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Diş Hekimi </td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>Ümit Sokullu</option>
                                                <option>Dt.2</option>
                                                <option>Dt.3</option>
                                                <option>Dt.4</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tarih </td>
                                    <td>
                                        <div class="form-group">
                                            <input class="form-control" type="date" />
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">İşlemler</h5>
                </div>
                <div class="card-body">
                    <div class="table-full-width table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>Tedavi</option>
                                                <option>Td.1</option>
                                                <option>Td.2</option>
                                                <option>Td.3</option>
                                                <option>Td.4</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>Cerrahi</option>
                                                <option>Endodonti</option>
                                                <option>Ortodonti</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td colspan="2">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Bul" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Tedavi</th>
                                    <th>Toplam</th>
                                </tr>
                                <tr>
                                    <td>Diş Çekimi</td>
                                    <td>150</td>
                                </tr>
                                <tr>
                                    <td>Dolgu</td>
                                    <td>100</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
        

    </div>
    </div>
