@{
    ViewBag.Title = "Oral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#">Hasta</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard/Hasta">Hasta Listesi</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Dashboard/Hasta/Ekle">Hasta Ekle</a>
            </li>
        </ul>
    </nav>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <img class="mr-3 border rounded" id="hastaAvatar" src="~/Content/images/male.png" width="100" height="100" alt="Aslı Demiroğ">
                        <div class="media-body">
                            <h5 class="m-0">
                                <a id="hastaAdi" href="/Dashboard/Hasta/Ekle" class="mt-0 mb-2 font-weight-bold text-uppercase"></a>
                            </h5>
                            <p class="mb-0 text-nowrap">Doğum Tarihi : <i id="hastaDogumTarihi"></i></p>
                            <p class="mb-0 text-nowrap">Kan Grubu : <i id="hastaKanGrubu"></i></p>
                            <p class="mb-0 text-nowrap">Cinsiyet : <i id="hastaCinsiyet" class="text-danger"></i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-tasks">
                <div class="card-header">
                    <h5 class="card-category">Diş Seçim Alanı</h5>
                </div>
                <div class="card-body pb-4" id="disSecimAlani">
                    <div class="d-flex justify-content-center align-items-end pb-3">
                        <div><div class="text-center bg-light">18</div><a class="text-white"><img src="~/Content/images/disler/dis-18.png" alt="" class="dis" /></a></div>
                        <div><div class="text-center bg-light">17</div><a class="text-white"><img src="~/Content/images/disler/dis-17.png" alt="" class="dis" /></a></div>
                        <div><div class="text-center bg-light">16</div><a class="text-white"><img src="~/Content/images/disler/dis-16.png" alt="" class="dis" /></a></div>
                        <div><div class="text-center bg-light">15</div><a class="text-white"><img src="~/Content/images/disler/dis-15.png" alt="" class="dis" /></a></div>
                        <div><div class="text-center bg-light">14</div><a class="text-white"><img src="~/Content/images/disler/dis-14.png" alt="" class="dis" /></a></div>
                        <div><div class="text-center bg-light">13</div><a class="text-white"><img src="~/Content/images/disler/dis-13.png" alt="" class="dis" /></a></div>
                        <div><div class="text-center bg-light">12</div><a class="text-white"><img src="~/Content/images/disler/dis-12.png" alt="" class="dis" /></a></div>
                        <div><div class="text-center bg-light">11</div><a class="text-white"><img src="~/Content/images/disler/dis-11.png" alt="" class="dis" /></a></div>
                        <div><div class="text-center bg-light">21</div><a class="text-white"><img src="~/Content/images/disler/dis-21.png" alt="" class="dis" /></a></div>
                        <div><div class="text-center bg-light">22</div><a class="text-white"><img src="~/Content/images/disler/dis-22.png" alt="" class="dis" /></a></div>
                        <div><div class="text-center bg-light">23</div><a class="text-white"><img src="~/Content/images/disler/dis-23.png" alt="" class="dis" /></a></div>
                        <div><div class="text-center bg-light">24</div><a class="text-white"><img src="~/Content/images/disler/dis-24.png" alt="" class="dis" /></a></div>
                        <div><div class="text-center bg-light">25</div><a class="text-white"><img src="~/Content/images/disler/dis-25.png" alt="" class="dis" /></a></div>
                        <div><div class="text-center bg-light">26</div><a class="text-white"><img src="~/Content/images/disler/dis-26.png" alt="" class="dis" /></a></div>
                        <div><div class="text-center bg-light">27</div><a class="text-white"><img src="~/Content/images/disler/dis-27.png" alt="" class="dis" /></a></div>
                        <div><div class="text-center bg-light">28</div><a class="text-white"><img src="~/Content/images/disler/dis-28.png" alt="" class="dis" /></a></div>
                    </div>
                    <div class="d-flex justify-content-center align-items-start pt-3">
                        <div><a href="#"><img src="~/Content/images/disler/dis-48.png" alt="" class="dis" /></a><div class="text-center bg-light">48</div></div>
                        <div><a href="#"><img src="~/Content/images/disler/dis-47.png" alt="" class="dis" /></a><div class="text-center bg-light">47</div></div>
                        <div><a href="#"><img src="~/Content/images/disler/dis-46.png" alt="" class="dis" /></a><div class="text-center bg-light">46</div></div>
                        <div><a href="#"><img src="~/Content/images/disler/dis-45.png" alt="" class="dis" /></a><div class="text-center bg-light">45</div></div>
                        <div><a href="#"><img src="~/Content/images/disler/dis-44.png" alt="" class="dis" /></a><div class="text-center bg-light">44</div></div>
                        <div><a href="#"><img src="~/Content/images/disler/dis-43.png" alt="" class="dis" /></a><div class="text-center bg-light">43</div></div>
                        <div><a href="#"><img src="~/Content/images/disler/dis-42.png" alt="" class="dis" /></a><div class="text-center bg-light">42</div></div>
                        <div><a href="#"><img src="~/Content/images/disler/dis-41.png" alt="" class="dis" /></a><div class="text-center bg-light">41</div></div>
                        <div><a href="#"><img src="~/Content/images/disler/dis-31.png" alt="" class="dis" /></a><div class="text-center bg-light">31</div></div>
                        <div><a href="#"><img src="~/Content/images/disler/dis-32.png" alt="" class="dis" /></a><div class="text-center bg-light">32</div></div>
                        <div><a href="#"><img src="~/Content/images/disler/dis-33.png" alt="" class="dis" /></a><div class="text-center bg-light">33</div></div>
                        <div><a href="#"><img src="~/Content/images/disler/dis-34.png" alt="" class="dis" /></a><div class="text-center bg-light">34</div></div>
                        <div><a href="#"><img src="~/Content/images/disler/dis-35.png" alt="" class="dis" /></a><div class="text-center bg-light">35</div></div>
                        <div><a href="#"><img src="~/Content/images/disler/dis-36.png" alt="" class="dis" /></a><div class="text-center bg-light">36</div></div>
                        <div><a href="#"><img src="~/Content/images/disler/dis-37.png" alt="" class="dis" /></a><div class="text-center bg-light">37</div></div>
                        <div><a href="#"><img src="~/Content/images/disler/dis-38.png" alt="" class="dis" /></a><div class="text-center bg-light">38</div></div>
                    </div>
                </div>
            </div>
            <div class="card card-tasks">
                <div class="card-header">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Tarih
                                    </th>
                                    <th>
                                        Diş
                                    </th>
                                    <th>
                                        Tedavi
                                    </th>
                                    <th>
                                        Diş Hekimi
                                    </th>
                                    <th class="text-right">
                                        Toplam
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tedaviListesi"></tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4" class="text-right">Toplam:</td>
                                    <td class="text-right" id="toplamTedaviTutari"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalTedaviEkle" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Diş Numarası (<strong id="disNumarasi"></strong>)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="İptal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Diş Hekimi</label>
                    <select class="form-control" id="disHekimi"></select>
                </div>
                <div class="form-group">
                    <label>İşlem</label>
                    <input type="text" id="tedaviTuru" class="form-control" />
                </div>
                <div class="form-group">
                    <textarea id="tedaviAciklmasi" class="form-control" placeholder="Tedavi Açıklaması (İsteğe Bağlı)"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnTedaviEkle" class="btn btn-primary">Tedaviyi Ekle</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalReceteYaz" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reçete Yaz</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="İptal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Diş Hekimi</label>
                    <select class="form-control" id="disHekimi"></select>
                </div>
                <div class="form-group">
                    <label>İşlem</label>
                    <input type="text" id="tedaviTuru" class="form-control" />
                </div>
                <div class="form-group">
                    <textarea id="tedaviAciklmasi" class="form-control" placeholder="Tedavi Açıklaması (İsteğe Bağlı)"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnTedaviEkle" class="btn btn-primary">Tedaviyi Ekle</button>
            </div>
        </div>
    </div>
</div>

<script type="text/x-tmpl" id="treatmentTemplate">
    <tr>
        <td>${TreatmentTime}</td>
        <td>${ToothNumber}</td>
        <td>${TreatmentTypeName}</td>
        <td>${DentistNameSurname}</td>
        <td class="text-right">${Price} ₺</td>
    </tr>
</script>