@{
    ViewBag.Title = "Randevu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="p-4 bg-white">
        <h2>Randevu</h2>
        <div id="calendar"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="randevuEkle" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Randevu Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="userType" value="existing" />
                <div class="form-group">
                    <label>Randevu Zamanı</label>
                    <input class="form-control" id="randevuZamani" />
                </div>
                <div class="form-group" style="position:relative;">
                    <label>Hasta Adı</label>
                    <input type="text" name="selectPatient" />
                    <a id="newPatient" class="text-warning" style="position:absolute;top:3px;right:0;font-size:80%;cursor:pointer;">Yeni Hasta Ekle</a>
                </div>
                <div class="form-group d-none" style="position:relative;">
                    <label>Hasta Adı</label>
                    <input type="text" name="txtPatient" class="form-control" />
                    <a id="existingPatient" class="text-warning" style="position:absolute;top:3px;right:0;font-size:80%;cursor:pointer;">Varolan Hastaya Randevu Kaydet</a>
                </div>
                <div class="form-group d-none">
                    <label>TC Kimlik No</label>
                    <input type="text" name="TCNo" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>Doğum Tarihi</label>
                    <input type="text" name="birthDate" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>Cinsiyet</label>
                    <select name="selectGender" class="form-control">
                        <option value="E">Bay</option>
                        <option value="K">Bayan</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="randevuKaydet" class="btn btn-primary">Randevuyu Kaydet</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="randevuSil" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Emin misiniz?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="İptal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="randevuID" value="0"/>
                <div><strong id="randevuHastaAdi"></strong> adlı hastanın,</div>
                <strong id="randevuTarihSaat"></strong> olan randevusu iptal edilecektir.
            </div>
            <div class="modal-footer">
                <button type="button" id="btnRandevuSil" class="btn btn-primary">Randevuyu Sil</button>
            </div>
        </div>
    </div>
</div>