
@{
    ViewBag.Title = "ReceteEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Reçete Ekle</h2>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>İlaç</label>
                <select class="form-control">
                    <option>Asprin</option>
                    <option>Novalgin</option>
                    <option>Appranax</option>
                </select>
            </div>
            <h4>Alınan İlaçlar(Emirhan DAĞLIOĞLU)</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <tr>
                            <th>
                                İlaç Adı
                            </th>
                            <th>
                                Doz
                            </th>
                            <th>
                                Kullanım
                            </th>
                            <th>
                                Açıklama
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Augmentin 1g BID 10tb.</td>
                            <td>1B</td>
                            <td>2x1</td>
                            <td>
                                12 saatte 1, yemekten yarım saat sonra, bol su ile içiniz. 5 gün kullanınız. !!! KULLANMADAN ÖNCE DOKTORUNUZA DANIŞINIZ !!!
                            </td>
                        </tr>
                        <tr>
                            <td>Minoset 20tb.</td>
                            <td>1B</td>
                            <td>2x1</td>
                            <td>
                                12 saatte 1, yemekten yarım saat sonra, bol su ile içiniz. Ağrınız süresince kullanınız.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>