@{
    ViewBag.Title = "StokListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#">STOK</a>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/Dashboard/Stok">Stok</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard/Stok/Ekle">Malzeme Ekle</a>
            </li>
        </ul>
    </nav>
    <div class="card">
        <div class="card-body" style="position:relative;">
            <input type="text" id="stokAra" class="form-control" style="position:absolute;right:15px;top:25px;width:225px;" placeholder="Ara..." />
            <form class="form-inline">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Malzeme Adı</th>
                            <th scope="col">Adeti</th>
                            <th scope="col">Birim Fiyatı</th>
                            <th scope="col">Malzeme Türü</th>
                        </tr>
                    </thead>
                    <tbody id="stokListesi"></tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script type="text/x-tmpl" id="stockTemplate">
    <tr>
        <td>${MaterialName}</td>
        <td scope="auto">${Quantity}</td>
        <td>${UnitPrice}</td>
        <td>${MaterialTypeName}</td>
        <td class="text-right">
            <a href="#"><i class="now-ui-icons ui-1_settings-gear-63" style="font-size:25px"></i></a>
            <a href="#"><i class="now-ui-icons ui-1_simple-remove" style="font-size:25px"></i></a>
        </td>
    </tr>
</script>