@{
    ViewBag.Title = "Stok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>


    #stok {
        margin-left: 10%;
        margin-right: 10%;
        background-color: #fff;
        margin-top: -10px;
        margin-bottom: 0px;
    }

    {
        margin: 0;
        padding: 0;
    }

    .active {
        background-color: #007bff;
    }

    body {
        margin: 0;
    }

    select {
        width: 180px;
        height: 40px;
        padding: 7px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 20px;
        box-sizing: border-box;
    }

    {
        margin: 0;
        padding: 0;
    }

    .menu {
        width: 100%;
        height: 48px;
        background: #204065;
        border-bottom: 4px solid #2ca8ff;
        box-shadow: 0 2px 22px 0 rgba(0,0,0,.2), 0 2px 30px 0 rgba(0,0,0,.35);
        border-radius: 5px;
    }

        .menu ul li {
            float: left;
            list-style-type: none;
        }

            .menu ul li a {
                color: #fff;
                font: 17px Arial;
                text-decoration: none;
                display: block;
                padding: 14px 15px;
                transition: all .5s;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
            }

                .menu ul li a:hover {
                    background: #00bfae;
                    color: white;
                }
</style>

<div id="stok">
    <div class="menu">
        <ul>
            <li><a class="active" href="#home">Ürün Ekle</a></li>

            <li><a href="#contact">Ürün Güncelle</a></li>
            <li><a href="#about">Ürünleri Listele</a></li>

        </ul>
    </div>

    <form class="form-inline" action="/action_page.php">
        <table style="margin-right: auto;  margin-left: auto;" border="0" cellpadding="3">
            <tr> <th colspan="4"><h4>Ürün Ekle</h4></th></tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="verg1">Türünü Seçiniz</label>
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        <select name="doktorlar">
                            <option value="UmitSokullu">Ürün Türünü Seçiniz...</option>
                            <option value="Dt2">Malzeme</option>
                            <option value="Dt3">İlaç</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="ad">Ürün Adı</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" class="ad">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="hsp1">Ürün Kodu</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" name="kodu">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="hspno">Stok Adeti</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" name="soyad">
                    </div>
                </td>


                <td>
                    <div class="form-group">
                        <label for="verg1">Son Kullanma Tarihi</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="date" class="form-control" name="kayitTarihi">
                    </div>
                </td>
            </tr>


            <tr> <td colspan="4"></td></tr>

            <tr>
                <td colspan="4">
                    <button type="submit" class="btn btn-default" style="float:right">Kaydet</button>
                </td>
            </tr>
        </table>
    </form>
</div>