@{
    ViewBag.Title = "StokListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>


    #stok {
        margin-left: 10%;
        margin-right: 10%;
        background-color: #fff;
        margin-top: -10px;
        margin-bottom: 0px;
    }

    {
        margin: 0;
        padding: 0;
    }

    .active {
        background-color: #007bff;
    }

    body {
        margin: 0;
    }

    select {
        width: 180px;
        height: 40px;
        padding: 7px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 20px;
        box-sizing: border-box;
    }

    {
        margin: 0;
        padding: 0;
    }

    .menu {
        width: 100%;
        height: 48px;
        background: #204065;
        border-bottom: 4px solid #2ca8ff;
        box-shadow: 0 2px 22px 0 rgba(0,0,0,.2), 0 2px 30px 0 rgba(0,0,0,.35);
        border-radius: 5px;
    }

        .menu ul li {
            float: left;
            list-style-type: none;
        }

            .menu ul li a {
                color: #fff;
                font: 17px Arial;
                text-decoration: none;
                display: block;
                padding: 14px 15px;
                transition: all .5s;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
            }

                .menu ul li a:hover {
                    background: #00bfae;
                    color: white;
                }
</style>

<div id="stok">
    <div class="menu">
        <ul>
            <li><a  href="~/Dashboard/Stok">Ürün Ekle</a></li>

            <li><a href="~/Dashboard/StokGuncelle">Ürün Güncelle</a></li>
            <li><a class="active" href="~/Dashboard/StokListele">Ürünleri Listele</a></li>

        </ul>
    </div>

    <form class="form-inline" action="/action_page.php">
        <table style="margin-right:auto;  margin-left: auto;" border="0" cellpadding="3">


            <table class="table table-hover" >
                <thead>
                    <tr style="font-size:x-small; ">
                        <th scope="col">Ürün Kodu</th>
                        <th scope="col">Ürün Adı</th>
                        <th scope="col">Adeti</th>
                        <th scope="col">Eklendiği Tarih</th>
                        <td>
                            <input type="date" class="form-control"/>
                        <th scope="col">Son Kullanma Tarihi</th></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>


        </table>
    </form>
</div>

