
@{
    ViewBag.Title = "Tedarikci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#">TEDARİKÇİ</a>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/Dashboard/Tedarikci">Tedarikçi Listesi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard/Tedarikci/Ekle">Tedarikçi Ekle</a>
            </li>
        </ul>
    </nav>
    <div class="card">
        <div class="card-body" style="position:relative;">
            <input type="text" id="tedarikciAra" class="form-control" style="position:absolute;right:15px;top:25px;width:225px;" placeholder="Ara..." />

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Firma Adı</th>
                        <th>Adres</th>
                        <th>Telefon</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody id="tedarikciListesi"></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/x-tmpl" id="supplierTemplate">
    <tr>
        <td>${SupplierName}</td>
        <td>${Address}</td>
        <td>${Telephone}</td>
        <td>${Email}</td>
        <td class="text-right">
            <a href="/Dashboard/Tedarikci/${ID}"><i class="now-ui-icons ui-1_settings-gear-63" style="font-size:25px"></i></a>
            <a href="#"><i class="now-ui-icons ui-1_simple-remove" style="font-size:25px"></i></a>
        </td>
    </tr>
</script>