
@{
    ViewBag.Title = "TedarikciEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <link href="~/Content/tedarikci.css" rel="stylesheet" />

    <div style="margin-left:10%;margin-right:10%; background-color:#fff; border-radius:5px;" id="tedarikci">

        <div>
            <ul class="ul1">
                <li class="li1"><a href="~/Dashboard/Tedarikci">Tedarikçi Listesi</a></li>
                <li class="li1"><a href="~/Dashboard/Tedarikci/Ekle" class="active">Tedarikçi Ekle</a></li>
                <li class="li1"><a href="~/Dashboard/Tedarikci/Guncelle/5" >Tedarikçi Güncelle</a></li>

            </ul>
        </div>

        <form class="form-inline" action="/action_page.php">

            <table style="margin-right: auto;  margin-left: auto;" border="0" cellpadding="5">

                <tr> <td colspan="4"></td></tr>
                <tr> <th colspan="4">Firma Bilgileri</th></tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="ad">Firma Adı</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="fad">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="hsp1">Vergi Dairesi</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="vergidairesi">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="hspno">Firma Yekilisi</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="yetkili">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="prbrm">Vergi Numarası</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="vergino">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="verg2">Hesap Numarası</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="hesapno">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="verg1">Banka</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="banka">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                </tr>
                <tr><th colspan="4">İletişim Bilgileri</th></tr>
                <tr> <td colspan="4"></td></tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="cep">Cep Telefonu</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="cep">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="sabit">Sabit Telefon</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="sabit">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="tlf">Telefon</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="tlf">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="email">E-Posta</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="postkod">Posta Kodu</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="pkod">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="ilce">İl</label>

                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="il">
                        </div>
                    </td>

                <tr>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="postkod">Cadde</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="cad">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="ilce">Sokak</label>

                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="sokak">
                        </div>
                    </td>

                <tr>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td colspan="4" >
                        <button type="submit">Kaydet</button>
                    </td>
                </tr>

            </table>
        </form>


    </div>

