
@{
    ViewBag.Title = "Tedarikci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <link href="~/Content/tedarikci.css" rel="stylesheet" />

    <div style="margin-left:10%;margin-right:10%; background-color:#fff; border-radius:5px;" id="tedarikci">

        <div>
            <ul class="ul1">
                <li class="li1"><a href="~/Dashboard/Tedarikci" class="active">Tedarikçi Listesi</a></li>
                <li class="li1"><a href="~/Dashboard/Tedarikci/Ekle">Tedarikçi Ekle</a></li>
                <li class="li1"><a href="~/Dashboard/Tedarikci/Guncelle/5">Tedarikçi Güncelle</a></li>
                
            </ul>
        </div>

        <div style="margin-left:10%; margin-right:10%;">
   
            <table class="table1" >
                <tr>
                    <th><h6>Firma Adı </h6> </th>
                    <th><h6>Alınan Ürün</h6></th>
                    <th><h6>Düzenle</h6></th>
                </tr>
                <tr>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>icon</td>
                </tr>
                <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>icon</td>
                </tr>
                <tr>
                    <td>Ernst Handel</td>
                    <td>Roland Mendel</td>
                    <td>icon</td>
                </tr>
                <tr>
                    <td>Island Trading</td>
                    <td>Helen Bennett</td>
                    <td>icon</td>
                </tr>
                <tr>
                    <td>Laughing Bacchus Winecellars</td>
                    <td>Yoshi Tannamuri</td>
                    <td>icon</td>
                </tr>
                <tr>
                    <td>Magazzini Alimentari Riuniti</td>
                    <td>Giovanni Rovelli</td>
                    <td>icon</td>
                </tr>
            </table>

        </div>
    </div>





