
@{
    ViewBag.Title = "Tedarikci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <title> Tedarikçi Paneli </title>

    <link href="~/Content/tedarikci.css" rel="stylesheet" />

</head>

<body>
    <div style="margin-left:10%;margin-right:10%; background-color:#fff; border-radius:25px;" id="tedarikci">

        <div>
            <ul id="ul1">
                <li id="li1"><a href="#home">Tedarikçiler</a></li>
                <li id="li1"><a href="#news">Tedarikçi Ekle</a></li>
                <li id="li1"><a href="Dashboard/Tedarikciguncel">Tedarikçi Güncelle</a></li>
                <li id="li1"><a href="#about">Malzeme Bilgileri</a></li>
            </ul>
        </div>

        <form class="form-inline" action="/action_page.php">

            <table style="margin-right: auto;  margin-left: auto;" border="0" cellpadding="5">

                <tr> <td colspan="4"></td></tr>
                <tr> <th colspan="4"><h4>Firma Bilgileri</h4></th></tr>
                <tr> <td colspan="4"></td></tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="ad">Firma Adı</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="fad">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="hsp1">Vergi Dairesi</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="vergidairesi">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="hspno">Firma Yekilisi</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="yetkili">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="prbrm">Vergi Numarası</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="vergino">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="verg2">Hesap Numarası</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="hesapno">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="verg1">Banka</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="banka">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                </tr>
                <tr><th colspan="4"><h4>İletişim Bilgileri</h4></th></tr>
                <tr> <td colspan="4"></td></tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="cep">Cep Telefonu</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="cep">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="sabit">Sabit Telefon</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="sabit">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="tlf">Telefon</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="tlf">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="email">E-Posta</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="postkod">Posta Kodu</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="pkod">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="ilce">İl</label>

                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="il">
                        </div>
                    </td>

                <tr> <td colspan="4"></td></tr>

                <tr>
                    <td colspan="4">
                        <button type="submit" class="btn btn-default" style="float:right">Kaydet</button>
                    </td>
                </tr>

            </table>
        </form>


    </div>

</body>




