
@{
    ViewBag.Title = "TedarikciEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">

    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#">TEDARİKÇİ</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard/Tedarikci">Tedarikçi Listesi</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Dashboard/Tedarikci/Ekle">Tedarikçi Ekle</a>
            </li>
        </ul>
    </nav>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <label for="ad">Firma Adı</label>
                    <input type="text" class="form-control" id="fad">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="cep">Telefon</label>
                    <input type="text" class="form-control" id="cep">
                </div>
                <div class="col-6">
                    <label for="email">E-Posta</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="col-12 mt-1">
                    <label for="email">Adres</label>
                    <textarea class="form-control" id="address"></textarea>
                </div>
                <div class="col-12">
                    <a id="tedarikciKaydet" class="btn btn-primary text-white">Kaydet</a>
                </div>
            </div>
        </div>
    </div>
</div>

