
@{
    ViewBag.Title = "Gider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>

    {
        margin: 0;
        padding: 0;
    }

    .menu {
        width: 100%;
        height: 48px;
        background: #204065;
        border-bottom: 4px solid #2ca8ff;
        box-shadow: 0 2px 22px 0 rgba(0,0,0,.2), 0 2px 30px 0 rgba(0,0,0,.35);
        border-radius: 5px;
    }

        .menu ul li {
            float: left;
            list-style-type: none;
        }

            .menu ul li a {
                color: #fff;
                font: 17px Arial;
                text-decoration: none;
                display: block;
                padding: 14px 15px;
                transition: all .5s;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
            }

                .menu ul li a:hover {
                    background: #00bfae;
                    color: white;
                }

    #gider {
        margin-left: 10%;
        margin-right: 10%;
        background-color: #fff;
        margin-top: -10px;
        margin-bottom: 0px;
    }

    .gdr {
        margin-right: auto;
        margin-left: auto;
    }

    .btn btn-default dropdown-toggle {
        font-family: Arial;
        color: steelblue;
        width: 100px;
    }

    .active {
        background-color: #2ca8ff;
        border-radius: 5px;
    }
    /*  .dropdown1 {
            width: 100%;
            height: 30px;

            border-radius: 5px;
            box-shadow: 0 2px 22px 0 rgba(0,0,0,.2), 0 2px 30px 0 rgba(0,0,0,.35);
        }
            .dropdown1 option {

            }*/
</style>
    <div id="gider">
        <div class="menu">
            <ul>
                <li><a href="~/Dashboard/Gider/Ekle" class="active">Gider Ekle</a></li>           
                <li><a href="~/Dashboard/Gider/Listele">Giderler</a></li>
            </ul>
        </div>
        <br />
        <div class="container">
        <form action="/action_page.php">

            <br /><br />
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="gider1">Gider Türü</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select class="form-control">
                            <option>Asistan</option>
                            <option>Genel Gider</option>
                            <option>Laboratuvar</option>
                            <option>Diş Deposu</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Tarih">Tarih</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="date" class="form-control" id="tarih">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="prbrm">Para Birimi</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select class="form-control">
                            <option>Türk Lirası(TRY)</option>
                            <option>ABD Doları(USD)</option>
                            <option>Euro(EUR)</option>
                            <option>İngiliz Sterlini(GBP)</option>
                        </select>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="od1">Ödenen Tutar</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" class="form-control" id="od2">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="od">Ödeme Şekli</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select class="form-control">
                            <option>Nakit</option>
                            <option>Kredi Kartı</option>
                            <option>Çek</option>
                            <option>Havale</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="aciklama">Açıklama</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" class="form-control" id="acik">
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-sm-12">
                    <button type="submit" class="btn btn-default" style="float:right;">Kaydet</button>
                </div>
            </div>

        </form>
    </div>
</div>

